<mat-toolbar>
Yatawaki
</mat-toolbar>
    
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Avatar
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/avatar">
              <p>
                  Avatar List
              </p>
            </a>
            <a routerLink="/avatar-new-form">
              <p>
                  New Avatar   
              </p>
            </a>
            <a routerLink="avatar-card">
                <p>
                  Search Avatar   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Achievement
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/achievement">
              <p>
                Achievement List
              </p>
            </a>
            <a routerLink="/achievement-new-form">
              <p>
                  New Achievement   
                </p>
            </a>
            <a routerLink="achievement-card">
              <p>
                  Search Achievement   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Composer
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/composer">
              <p>
                Composer List
              </p>
            </a>
            <a routerLink="/composer-new-form">
              <p>
                  New Composer   
                </p>
            </a>
            <a routerLink="composer-card">
             <p>
                  Search Composer   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Unlockable
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/unlockable">
              <p>
                Unlockable List
              </p>
            </a>
            <a routerLink="unlockable-card">
              <p>
                  Search Unlockable   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Symphony
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/symphony">
              <p>
                Symphony List
              </p>
            </a>
            <a routerLink="/symphony-new-form">
              <p>
                  New Symphony   
                </p>
            </a>
            <a routerLink="symphony-card">
              <p>
                  Search Symphony   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Gesture
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/gesture">
              <p>
                Gesture List
              </p>
            </a>
            <a routerLink="/gesture-new-form">
              <p>
                  New Gesture   
                </p>
            </a>
            <a routerLink="gesture-card">
              <p>
                  Search Gesture   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Instrument
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/instrument">
              <p>
                Instrument List
              </p>
            </a>
            <a routerLink="/instrument-new-form">
              <p>
                  New Instrument   
                </p>
            </a>
            <a routerLink="instrument-card">
              <p>
                  Search Instrument   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              User Statistic
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/user-statistic">
              <p>
                User Statistic List
              </p>
            </a>
            <a routerLink="/user-statistic-new-form">
              <p>
                  New User Statistic   
                </p>
            </a>
            <a routerLink="user-statistic-card">
              <p>
                  Search User Statistic   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              User
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/user">
              <p>
                User List
              </p>
            </a>
            <a routerLink="/user-new-form">
              <p>
                  New User   
                </p>
            </a>
            <a routerLink="user-card">
              <p>
                  Search User   
              </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Concert
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/concert">
              <p>
                Concert List
              </p>
            </a>
            <a routerLink="/concert-new-form">
              <p>
                  New Concert   
                </p>
            </a>
            <a routerLink="concert-card">
              <p>
                  Search Concert   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rank
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/rank">
              <p>
                Rank List
              </p>
            </a>
            <a routerLink="/rank-new-form">
              <p>
                  New Rank   
                </p>
            </a>
            <a routerLink="rank-card">
              <p>
                  Search Rank   
                </p>
            </a>  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              User Rank
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <a routerLink="/user-rank">
              <p>
                User Rank List
              </p>
            </a>
            <a routerLink="/user-rank-new-form">
              <p>
                  New User Rank   
                </p>
            </a>
            <a routerLink="user-rank-card">
              <p>
                  Search User Rank   
                </p>
            </a>  
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <div>
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>