<br />
<h2 class="text-center text-uppercase">Actualización de Concert</h2>
<br />
<div class="container">
  <div class="row">
    <form (ngSubmit)="changeConcert()" class="center">
    <div *ngIf="concert">
        <div class="form-group mb-3 row">
            <label for="id" class="col-sm-5 col-form-label">
              Id :
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                placeholder="id"
                required
                [(ngModel)]="concert.idConcert"
                disabled
              />
            </div>
        </div>
      <!--*************** ATTRIBUTE 2 ***************-->
      <div class="form-group mb-3 row">
        <label for="symphony" class="col-sm-5 col-form-label">
          Symphony Id :
        </label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="symphony"
            name="symphony"
            placeholder="symphony"
            required
            [(ngModel)]="concert.symphony.idUnlockable"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 2 ***************-->
      <!--*************** ATTRIBUTE 3 ***************-->
      <div class="form-group mb-3 row">
        <label for="playedDate" class="col-sm-5 col-form-label">
        Played Date :
        </label>
        <div class="col-sm-8">
            <input
              matInput 
              type="playedDate"
              class="form-control"
              id="playedDate"
              name="playedDate"
              placeholder="playedDate"
              required
              [matDatepicker]="picker"
              [(ngModel)]="concert.playedDate"
            />  
          </div>
          <div class="col-sm-2">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        <div class="form-check form-switch col-sm-2 center">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC" (change)="nullInputPlayedDate('playedDate', 'flexSwitchCheckDefaultC')">
            <label class="form-check-label" for="flexSwitchCheckDefault">Null</label>
          </div>
      </div>
      <!--*************** END ATTRIBUTE 3 ***************-->
        <!--*************** END ATTRIBUTE 4 ***************-->
        <div class="form-group mb-3 row">
            <label for="status" class="col-sm-5 col-form-label"> Status : </label>
            <div class="col-sm-10">
                <select class="form-control" id="status"  name="status" [(ngModel)]="concert.status">
                <option *ngFor="let status of statuses" value="{{status.value}}">{{status.description}}</option>
                </select>
            </div>
            <div class="form-check form-switch col-sm-2 center">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC2" (change)="nullInputStatus('status', 'flexSwitchCheckDefaultC2')">
                <label class="form-check-label" for="flexSwitchCheckDefault">Null</label>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="user" class="col-sm-5 col-form-label">
                  User Id :
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="user"
                    name="user"
                    placeholder="user"
                    required
                    [(ngModel)]="concert.user.idUser"
                  />
                </div>
              </div>
      <!--*************** ATTRIBUTE 4 ***************-->
      <div class="form-group mb-3 row">
        <label for="points" class="col-sm-5 col-form-label">
        Points:
        </label>
        <div class="col-sm-10">
          <input
            matInput 
            type="points"
            class="form-control"
            id="points"
            name="points"
            placeholder="points"
            required
            [(ngModel)]="concert.points"
          />
        </div>
        <div class="form-check form-switch col-sm-2 center">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC3" (change)="nullInputPoints('points', 'flexSwitchCheckDefaultC3')">
            <label class="form-check-label" for="flexSwitchCheckDefault">Null</label>
          </div>
      </div>
      <!--*************** END ATTRIBUTE 4 ***************-->
      <div class="form-group mb-3 row">
        <label for="accuracyRate" class="col-sm-5 col-form-label">
        Accuracy Rate :
        </label>
        <div class="col-sm-10">
          <input
            matInput 
            type="accuracyRate"
            class="form-control"
            id="accuracyRate"
            name="accuracyRate"
            placeholder="accuracyRate"
            required
            [(ngModel)]="concert.accuracyRate"
          />
        </div>
        <div class="form-check form-switch col-sm-2 center">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC4" (change)="nullInputAccuracyRate('accuracyRate', 'flexSwitchCheckDefaultC4')">
            <label class="form-check-label" for="flexSwitchCheckDefault">Null</label>
          </div>
      </div>
      <!--*************** END ATTRIBUTE 4 ***************-->
      <div class="form-group mb-3 row">
        <label for="gesturesCompleted" class="col-sm-5 col-form-label">
        Gestures Completed :
        </label>
        <div class="col-sm-10">
          <input
            matInput 
            type="gesturesCompleted"
            class="form-control"
            id="gesturesCompleted"
            name="gesturesCompleted"
            placeholder="gesturesCompleted"
            required
            [(ngModel)]="concert.gesturesCompleted"
          />
        </div>
        <div class="form-check form-switch col-sm-2 center">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC5" (change)="nullInputGesturesCompleted('gesturesCompleted', 'flexSwitchCheckDefaultC5')">
            <label class="form-check-label" for="flexSwitchCheckDefault">Null</label>
          </div>
      </div>
    </div>
      <!--*************** END ATTRIBUTE 9 ***************-->
      <!--*************** ATTRIBUTE 9 ***************-->
      <!--*************** END ATTRIBUTE 9 ***************-->
      <!--*************** BUTTON ***************-->
      <div class="d-grid col-4 mx-auto">
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
      <!--*************** END BUTTON ***************-->
    </form>
  </div>
</div>



